body{
  font-family: Arial, Helvetica, sans-serif;
  background: #4aaaa5;
  color: #777777;
  width: 960px;
  background: url(https://subtlepatterns.com/images/ravenna.png)
  
}

#logo{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  color: #ffffff;
  background: #4aaaa5;
  line-height: 100px;
  text-decoration: none;
  text-align: center;
  font-weight: 550;
  
}

header{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:#ffffff;
  height: 50px;
  width: 960px;
  margin-top: 0px;

}

head{
  background-attachment: fixed;
  
}

.wrapper{
  height: auto;
  width: 960px;

}

nav{
  float: right;
  color: #777777;
  margin-top: -55px;
  font-size: 20px;
  width: 50%;
  background: #4aaaa5;
  text-decoration: none;
  margin-left: 90px;

}
#section2{
  background: #ffffff;
}


footer{
  display: block;
  background: #777777;
  color: #ffffff;
  text-align: center;
  height: 100px;
  font-size: 10px;
  
}

p{
  line-height: 30px;
  width: 960px;
}



#logo {
  font-family: Arial, Helvetica, sans-serif;
  font-size: xx-large;
  color: #ffffff;
  background: #4aaaa5;
  line-height: 100px;
  text-decoration: none;
  text-align: center;
  font-weight: 550;
}



input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}

input[type=submit] {
  width: 10%;
  background-color: #4aaaa5;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}



#nav2 {
  float: right;
  color: #777777;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 70px;
}

textarea {
  height: 100px;
}

h1,
  h2,
  h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: white;
    background-color: #4aaaa5;
    font-size: 0fr;
    height: 50px;
    
  }

 #main-section {
  float: left;
  width: 100%;
  max-width: 300px;
  padding: 30px;
  margin: 0 0 40px;
  background: #fff;
  border: 1px solid #ddd;
  padding: 100px;
}